$main-color:#F4C201;
$dark:#010101;
$pure-dark:#2e2e2e;
$pure-white: #fff;
$light-white: #eee;
$pure-orange:#FE7F00;
$pure-red: #b02537;
$hover-btn:#bd9803;

$header-gradient: linear-gradient(90deg, rgba(246, 247, 176, 0.22) 0%, rgba(253,224,29,0.2) 38%, rgba(244, 195, 1, 0.2) 100%); 