@use './colors' as *;
@use './components';


//GALLERY
.gallery {
	width: 100%;

	.section-header {
		padding-top: 4em;
	}

	&__items {
		display: flex;
		flex-direction: column;
		justify-content: center;
		list-style-type: none;
	}

	&__item {
		margin: 1.5em 1em;
		width: 200px;
		height: 280px;
		border: 5px solid $light-white;
		border-radius: 8px;
		box-shadow: 0 0 15px $pure-dark;
		transition: transform 0.4s;
		cursor: pointer;
		overflow: hidden;

		&:hover {
			transform: scale(1.2);
		}

		&-img {
			height: 100%;
			width: 100%;
			object-fit: cover;

			&:focus {
				outline: none;
				border: 5px solid $main-color;
			}
		}
	}

	&__popup {
		position: fixed;
		display: none;
		top: 0;
		left: 0;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.6);
		backdrop-filter: blur(5px);
		animation: fadeIn 0.3s;
		z-index: 100000;

		&-img {
			display: block;
			max-width: 80%;
			max-height: 80%;
			transition: transform 0.4s;

			&:hover {
				transform: scale(1.2);
			}
		}

		&-close,
		&-arrow {
			position: absolute;
			padding: 0.5em;
			font-size: 3rem;
			color: $pure-white;
			background: none;
			transition: transform 0.3s;
			cursor: pointer;

			&:hover {
				transform: scale(1.2);
			}
		}

		&-close {
			top: 24px;
			right: 24px;
		}

		&-arrow {
			top: 45%;
			z-index: 10;
			&--left {
				left: 5px;
			}

			&--right {
				right: 5px;
			}
		}
	}
}


.popup-img--active {
	display: flex;
}

.popup-img--fadeOut {
	animation: fadeOut 0.3s forwards;
}

@media (min-width: 576px) {
	
	.gallery {
		&__items {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-evenly;
		}

		&__item {
			margin: 2em 2em;
		}
	}
}

@media (min-width: 768px) {
	.gallery {
		padding-top: 6em;
		padding-bottom: 8em;

		&__popup {
			&-close {
				top: 30px;
				right: 30px;
			}

			&-arrow {
				&--left {
					left: 60px;
				}

				&--right {
					right: 60px;
				}
			}
		}
	}
}

