@use './colors' as *;
@use './components';

@media (min-width: 992px) {
	.section-padding {
		padding: 3em 3.2em;
	}

	.header {
		height: 80vh;

		&__title {
			font-size: 6rem;

			&-paragraf {
				font-size: 3.5rem;
				line-height: 48px;
			}
		}
	}

	.aboutus {
		.wrapper {
			flex-direction: row;
			justify-content: space-around;
		}
		&__info-bg,
		&__imgBox {
			height: 540px;
		}

		&__info {
			display: none;
		}

		&__info-bg {
			display: block;
			margin: 3em 0;
			margin-right: 1.4em;
			padding: 0.5em;
			width: 58%;
			line-height: 24px;

			.section-header {
				margin-bottom: 0.4em;
				margin-top: 1.1em;
				font-size: 2.7rem;
			}

			&-text {
				text-align: left;
				font-size: 1.5rem;
			}
		}
	}

	.service {
		padding: 4.5em 3em;
		&__box {
			flex-direction: row;

			&-img {
				height: 250px;
				width: 35%;
				object-fit: cover;

				&--right {
					order: 1;
				}
			}

			&-info {
				display: flex;
				flex-direction: column;
				justify-content: center;
				padding: 1em 1.4em;
				padding-left: 1.5em;
				height: 250px;

				&--right {
					padding-right: 1.5em;
					.service__box-info-title {
						text-align: right;
					}

					.service__box-info-text {
						text-align: right;
					}
				}

				&-title {
					padding-top: 0em;
					padding-left: 0;
					text-align: left;
					font-size: 1.8rem;
				}

				&-text {
					text-align: left;
					font-size: 1.6rem;
				}
			}
		}
	}

	.hero-img {
		.section-header {
			padding: 0.5em;
			font-size: 7rem;
		}

		&__text {
			font-size: 2.7rem;
			font-weight: 500;
		}

		&__btn {
			margin-top: 3.4em;
		}
	}

	.chooseus {
		&__box {
			display: none;
		}

		&__box-desktop {
			display: flex;
		}
	}

	.area {
		.section-header {
			margin-bottom: 0.7em;
			font-size: 3rem;
		}

		.wrapper {
			flex-direction: row;
			justify-content: space-around;
		}

		&__box {
			&-map {
				width: 400px;
				margin-left: 3em;
			}
		}
	}

	.contact {
		&__box,
		&__form {
			padding: 0 2em;
		}

		&__box {
			&-title {
				font-size: 2.2rem;
			}

			&-text {
				font-size: 1.8rem;
			}
		}

		&__form {
			&-title {
				padding-top: 1.7em;
				font-size: 2.2rem;
			}

			&-input {
				width: 390px;
			}

			&-btn {
				padding: 0.7em 0;
				width: 300px;
			}
		}
	}

	.nofound {
		padding-top: 11em;

		.section-header {
			font-size: 2.9rem;
		}
	}
}

@media (min-width: 1100px) {
	.aboutus {
		&__info-bg {
			min-width: 595px;

			.section-header {
				font-size: 3rem;
			}

			&-text {
				font-size: 1.7rem;
			}
		}
	}

	.service {
		&__box {
			margin-bottom: 3em;
		}
	}

	.area {
		.section-header {
			margin-bottom: 0.7em;
			font-size: 3rem;
		}

		.wrapper {
			flex-direction: row;
			justify-content: space-around;
		}

		&__box {
			&-map {
				margin-left: 0;
				width: 400px;
			}

			&-text {
				&-paragraf {
					font-size: 2rem;
				}

				&-item {
					font-size: 1.9rem;
				}
			}
		}
	}

	.nofound {
		padding-top: 12em;

		.section-header {
			font-size: 3.1rem;
		}
	}
}

@media (min-width: 1200px) {
	.nav {
		&__logo {
			margin-left: 0;
		}

		&__btn {
			margin-right: 0;
		}
	}

	.header {
		&__title {
			&-paragraf {
				font-size: 302rem;
				line-height: 48px;
			}
		}
	}

	.aboutus {
		.wrapper {
			justify-content: space-around;
		}

		&__info-bg {
			width: 650px;
		}
	}

	.hero-img {
		height: 90vh;
	}

	.service {
		&__box {
			flex-direction: row;

			&-info {
				&-title {
					text-align: left;
				}

				&-text {
					text-align: left;
				}
			}
		}
	}

	.chooseus {
		.section-header {
			font-size: 2.4rem;
		}

		&__box-desktop {
			&-left {
				margin-left: 0;

				&-text {
					margin-bottom: 2em;
					font-size: 1.8rem;
				}
			}
		}
	}
}

@media (min-width: 1400px) {
	.header {
		background-image: $header-gradient, url('../img/header-img-exbig.jpg');

		&__title {
			font-size: 7rem;

			&-paragraf {
				font-size: 5rem;
			}
		}
	}

	.hero-img {
		background-image: url('../img/hero-img-exbig.jpg');
	}
}
