@use './colors' as *;
@use './components';



@media (min-width: 768px) {
	.section-padding {
		padding: 4.5em 2em;
	}

	.section-header {
		font-size: 3rem;
	}

	.burger-btn {
		display: none;
	}

	.nav {
		display: flex;
	}

	.cookie-box {
		&__text {
			padding: 1em 2em;
			font-size: 2rem;
		}

		&__btn {
			margin: 1em 0;
			padding: 0.5em 1em;
			font-size: 2rem;
			border-radius: 12px;
		}
	}

	.header {
		height: 70vh;
		background-image: $header-gradient, url('../img/header-img-big.jpg');

		&__title {
			font-size: 6rem;

			&-paragraf {
				font-size: 3rem;
				line-height: 48px;
			}
		}
	}

	.aboutus {
		&__info {
			padding: 0.5em;

			.section-header {
				margin-bottom: 0;
				font-size: 2.7rem;
			}

			&-text {
				padding-top: 1em;
			}
		}
	}

	.hero-img {
		background-image: url('../img/hero-img-big.jpg');

		&__btn {
			margin-top: 3em;
		}
	}

	.service {
		padding: 4.5em 3.2em;

		&__box {
			&-info {
				&-title {
					padding-top: 1.8em;
					font-size: 1.9rem;
					line-height: 25px;
				}

			}
		}
	}

	.chooseus {
		&__box {
			&-top {
				.section-header {
					font-size: 2.6rem;
				}

				&-text {
					margin: 0 2em;
					font-size: 1.8rem;
					line-height: 25px;
				}
			}

			&-down {
				&-text {
					margin: 2.7em 2em;
					font-size: 1.7rem;
				}
			}
		}
	}

	.contact {
		&__box,
		&__form {
			padding: 0 1.7em;
		}

		&__form {
			padding-top: 1em;
			&-input {
				width: 390px;
			}

			&-btn {
				padding: 0.7em 0;
				width: 300px;
			}
		}
	}

	.footer {
		&__box {
			width: 100%;
			justify-content: space-around;
		}
	}

	.gallery {
		padding-top: 8em;

		&__popup {
			&-close {
				top: 30px;
				right: 30px;
			}

			&-arrow {
				&--left {
					left: 60px;
				}

				&--right {
					right: 60px;
				}
			}
		}
	}

	.privacy-policy {
		.wrapper {
			margin-top: 8em;

			p {
				padding: 2em 0;
			}

			strong {
				padding: 2em 0 1em 0;
			}

			li {
				padding-bottom: 0.5em;
			}
		}
	}

	.nofound {
		padding-top: 10em;
		min-height: 90vh;
	
		.section-header {

			font-size: 2.7rem;
		}
	

	}
	
}

@media (min-width: 850px) {
	.footer {
		&__box {
			width: 100%;
			justify-content: space-around;

			&-logo {
				display: block;
			}
		}
	}
}
