@use './colors' as *;
@use './components';

// PAGE 404
.notfound {
	padding-top: 6em;
	min-height: 70vh;
	background-color: $pure-red;

	.section-header {
		margin-bottom: 3em;
		font-size: 2.2rem;
		color: $pure-white;
	}

	&__btn {
		padding: 0.5em 1em;
		font-size: 2rem;
		font-weight: 600;
		border-radius: 12px;
	}
}




@media (min-width: 768px) {

	.notfound {
		padding-top: 10em;
		min-height: 90vh;
	
		.section-header {

			font-size: 2.7rem;
		}
	

	}
	
}

@media (min-width: 992px) {


	.notfound {
		padding-top: 11em;

		.section-header {
			font-size: 2.9rem;
		}
	}
}

@media (min-width: 1100px) {

	.notfound {
		padding-top: 12em;

		.section-header {
			font-size: 3.1rem;
		}
	}
}